@import '../../scss/variables.scss';
@import '../../scss/responsive.scss';

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 100%;
    @include medium {
        grid-template-columns: repeat(2, 1fr);
    }
    @include large {
        grid-template-columns: repeat(4, 1fr);
    }
    &__element {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__comic {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    &__container {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__text{
      margin-top: 50px;
      color: $text;
      text-shadow: $text-shadow;
    }
    &__filter{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: fixed;
    }
    &__search-bar{
      width: 50%;
      border: none;
      box-shadow: $box-shadow;
    }
}
