<section>
  <ul class="grid">
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
    <li class="grid__element">
        <img class="grid__comic" src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/4bc6353e5fc56.jpg" alt="" class="grid__comic">
    </li>
  </ul>
</section>
